<div th:fragment="modalFormGrupo">
    <div class="modal fade" id="grupoModal" tabindex="-1" aria-labelledby="modalGrupoTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content rounded-4 p-3 modal-border">
                <form th:action="@{/grupos/guardar}" method="post" id="formGrupo">
                    <div class="modal-header border-0">
                        <h4 class="modal-title fw-bold" id="modalGrupoTitle">Registrar nuevo grupo</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="id" id="formGrupoId" />

                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="formGrupoNombre" class="form-label label-color">Nombre del Grupo</label>
                                <input type="text" class="form-control input-borde-gris" id="formGrupoNombre" name="nombre" required>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer border-0 d-flex justify-content-end">
                        <button type="button" class="btn btn-volver" data-bs-dismiss="modal">Volver</button>
                        <button type="submit" class="btn btn-guardar">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
